@* Create a list of three products. Each product should have a Name,
    Price, and OnSale properties. Display the list of products in an HTML table:
    Any product that is on sale should appear with a light green background.
    Show the sum of the prices of all of the products at the bottom of the table.
*@

@* Anything within the @{} is considered at statement, and anything after the @ is an expression.
    The following code is a representation of how to utilize the @. This code isn't completely DRY
    However...
*@

@* States that wherever I use the 
    @model IndexVM says that whenever you use this.model it is referring to the IndexVM.
    Every view in MCV gets its own view model, which contains all of the data that view will need.
 *@
@model RazorPractice.Views.Home.IndexVM

@{
    decimal sum = 0;
}

<table class="table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in this.Model.Products)
        {
            sum += item.Price;
            if (item.OnSale == true)
            {
                <tr>
                    <td style="background-color: yellow">@item.Name</td>
                    <td style="background-color: yellow">@item.Price</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>

                </tr>
            }
        }

    </tbody>

</table>

<div>@sum</div>